body{
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color:rgb(113, 122, 110);
}
.character-status{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(43, 43, 43);
}

#character{
  border: solid 1px black;
  height: 30%;
  width: 60%;
  background-color:rgb(113, 122, 110);
  margin-top: 30px;
  margin-bottom: 10px;
}

.dropdown-content{
  padding: 10px;
  border: solid rgb(24, 24, 24) 1px;
  border-radius: 5px;
  overflow: hidden;
  opacity: 1;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}
.dropdown-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-content ul li {
  padding: 5px 0;
}
.dropdown {
  margin-bottom: 10px;
  width: 90%;
}
.hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden; /* Ensures content is hidden when max-height is 0 */
  transition: max-height 0.4s ease, opacity 0.4s ease;
}
.game-area{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#text{
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;
  background-color: rgb(43, 43, 43);
  border: solid 1px 1px 0 1px black;
  border-radius: 10px 10px 0 0;
}
.btn-grid{
  width: 90%;
  height: 40%;
  display: grid;
  justify-content: center;
  align-content: flex-start;
  background-color: rgb(43, 43, 43);
  border: solid 0 1px 1px 1px black;
  border-radius: 0 0 10px 10px;
}

.option-btns{
margin-top: 10px;
text-align: left;
height: 20px;
width: 1130px;
}

.jscolor{
  height: 40px;
  border: solid rgb(24, 24, 24) 1px;
  border-radius: 5px;
  background-color: rgb(29, 29, 29) ;
}